@import "../App.css";


.showCase
{
color: white;
   background-color:var(--mainColorLight);
   display: flex;
   height: 9%;
   border-radius: 10px;
   align-items: center;
   justify-content: center;
   margin: 10px;
   padding: 0;

}